/*
This file is specifically for the App.js component and for styling things within it
*/

.section {
  display: flex;
  flex-direction: column;
  min-height: 120vh;
  padding-left: 12%;
  margin: 20px 0;
}